.navigationSup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background: coral;
        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 17px;
            color: white;
            margin: 10px 5px 10px 5px;
        }
        button {
            color: coral;
            background: white;
            border: none;
            height: 25px;
            font-weight: bold;
            border-radius: 8px;
            cursor: pointer;
            margin: 10px 5px 10px 5px;
        }
    }
}