.divRecherche {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 40px;
        margin: 20px 0px;
        max-width: 400px;
        input {
            width: 70%;
            border-radius: 10px 0px 0px 10px;
            border: solid 0.1px rgba(0, 0, 0, 0.436);
        }
        button {
            @include button-recherche;
            border-radius: 0px 10px 10px 0px;
        }
    }
    .divFiltre {
        display: flex;
        flex-direction: row;
        width: 90%;
        max-width: 400px;
        justify-content: space-evenly;
        align-items: center;
        button {
            @include button-recherche;
            border-radius: 10px;
            margin: 10px;
        }
    }
    .divMap {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
        a {
            width: 90%;
            max-width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: white;
            border-radius: 10px;
            color: black;
            font-weight: bold;
            box-shadow: 0px 0px 3px 0px #00000054;
            margin: 5px;
            p {
                text-align: center;
            }
        }
    }
}